<section class="index">
    <Tabs :animated="false">
        <TabPane label="React"><article-list></article-list></TabPane>
        <TabPane label="Angular"><article-list></article-list></TabPane>
        <TabPane label="Vue"><article-list></article-list></TabPane>
        <TabPane label="Js"><article-list></article-list></TabPane>
        <TabPane label="HTML"><article-list></article-list></TabPane>
        <TabPane label="CSS"><article-list></article-list></TabPane>
        <TabPane label="NodeJs"><article-list></article-list></TabPane>
    </Tabs>
</section>